<div class="d-flex align-items-stretch">
    <div class="col-4 p-3">
        <img src="../../assets/images/user.png" />
    </div>
    <div class="col-8 p-3 align-self-center employee-details">
        <p>{{employee?.name}}</p>
        <p>{{employee?.email}}</p>
        <p>{{employee?.designation}}</p>
    </div>
</div>

<h3 class="py-3 ps-3">{{employee?.designation == 'Manager' ? 'Reporting Members' : 'Team Members'}}</h3>

<div class="col-12 py-3 d-flex flex-wrap">
    <div class="employee-container col-3 ms-3 mb-3 cursor-pointer" *ngFor="let peer of peers">
        <div class="d-flex align-items-stretch" [routerLink]="'/employee/'+peer.id">
            <div class="col-4 p-3">
                <img src="../../assets/images/user.png" />
            </div>
            <div class="col-8 p-3">
                <p>{{peer.name}}</p>
                <p>{{peer.email}}</p>
                <p>{{peer.designation}}</p>
            </div>
        </div>
    </div>
</div>
